.random-user {
    position: relative;
    padding: 30px;
    margin: 50px;
    background-color: var(--bgcolor);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-user img {
    width: 250px;
    border-radius: 50%;
}

.random-user .btns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.random-user h1 {
    text-align: center;
    margin: 10px;
}

@media screen and (max-width: 489px) {
    .random-user {
        margin: 15px;
    }

    .random-user h1 {
        font-size: 1.5rem;
    }
}